@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* imports */
@import url("sections/header.css");

/* CSS variables for reusablity across all files (including above imported) */
:root {
    --prata-display: "Prata", serif;
    --montserrat: "Montserrat", sans-serif;

    --primary-color: #b1454a;
    --secondary-color: #121212;

    --black-200: #020202;
    --black-300: #333333;
    --black-400: #1f1e31;
    --black-500: #555555;
    --gray-100: #888888;

    --color-white: #fff;
    --color-creamson: #fff0de;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    max-width: 1280px;
    margin: 0 auto;
    background-color: var(--color-creamson);
}

a {
    text-decoration: none;
    color: inherit;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}