.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem 2rem;

    background-color: var(--primary-color);
}

.header__logo h4 {
    font-family: var(--prata-display);
    font-size: 1.8rem;
    color: #fff;
}

.header__menu{
    display: flex;

    list-style: none;

    gap: 2rem;
}

.header__menu li a {
    font-family: var(--montserrat);
    font-size: 1rem;
    color: var(--color-white);
    font-weight: 500;
    
    transition: color 0.3s ease;
}

.header__menu li a:hover {
    color: var(--color-creamson);
}
